{{define "markdown"}}{{range $index, $section := .}}{{if $index}}
{{end}}### `{{$section.Invocation}}`

{{$section.Synopsis}}{{with $section.LongDescription}}

{{.}}{{end}}{{if $section.Flags}}

| Option | Description |
| --- | --- |
{{range $section.Flags}}| {{markdownFlagName .}} | {{markdownText .Description}} |
{{end}}{{end}}{{end}}{{end}}
